.vscode
serialTest.py
*.exe
maze_ws/build/
maze_ws/devel/
maze_ws/*.catkin_workspace
simulation/
robot_description
notesIgnore.md
build/
tempCodeRunnerFile.*
checkpoint.txt
maze_ws/src/test_goals/
sensors_simulation.py
maze_ws/src/devices/openmv_camera/scripts/__pycache__
maze_ws/src/devices/ydlidar/YDLidar-SDK/