<launch>
    <!-- Start options -->
    <arg name="open_rviz" default="true"/>
    <arg name="node_start_delay" default="0.0"/>
    <arg name="only_show" default="true"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rviz/urdf.rviz"/>
  <!--
    <include file="$(find robot_description)/launch/display.launch">
      <arg name="open_rviz" value="$(arg open_rviz)"/>
      <arg name="node_start_delay" value="$(arg node_start_delay)"/>
      <arg name="only_show" value="$(arg only_show)"/>
    </include>
  -->
</launch>